$btn-primary-color: #F9D783;
$header-bg-color: #F0EFE9;
$dark-text-color: #191919;
$footer-bg-color: #0E1021;
$white-color: #FFFFFF;
$footer-light-text-color: RGBA(255,255,255,0.7 );
$icon-light-clr: RGBA(25,25,25,0.1 );
$red-span-clr: #F94D1C;